body{
  background-image:url("../images/notfound.png");
}

h1{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;

}

h2{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 2.5vw;
  text-align: left;
  text-transform: uppercase;
  margin-top: -2%;
}

h1.retroshadow {
  color: #2c2c2c;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}


h2.retroshadow {
  color: #2c2c2c;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
