#forgelogo {
  color: #202020;
  background-color: #313131;
  font-size: 450%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}


#cartelogo {
  font-size: 300%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}


#statslogo {
  font-size: 300%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.navbar-custom {
    color: #313131;
    background-color: #313131;
}

#map {
  height: 850px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#formulairecarte {

  margin-top: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#rechercher {
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 45px;
  padding: 35px 20px;
  text-align: left;
  margin-bottom: -26px;
  margin-top: -30px;
  margin-left: -20px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:25px;
     margin-bottom:20px;
     margin-left:100px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}

.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}

#adressPoint{

  margin-top: 10px;
  margin-left: 15px;
  border:none;
  background-color: #F0F0FF;
  border-color:none;
}

.carousel-item
{
background-color:#F0F0FF;
color:#F0F0FF;
}

#carouselExampleControls{
margin-right: 15px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
margin-left: 15px;
background-color: rgb(240,240,240);
}
