#forgelogo {
  color: #202020;
  background-color: #3c3c3c;
  font-size: 490%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}


#cartelogo {
  font-size: 300%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}


#statslogo {
  font-size: 300%;
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.navbar-custom {
    color: #3c3c3c;
    background-color: #3c3c3c;
}



